# OMA Data Access

Example: fetching list of composers

composers = oma.composer_list(params)



## Parameters for list methods

    max - The maximum number to list
    offset - The offset from the first result to list from
    order - How to order the list, either "desc" or "asc"
    sort - The property name to sort by
    ignoreCase - Whether to ignore the case when sorting. Default is true.
    fetch - The fetch policy for the object's associations as a Map
    readOnly - true if returned objects should not be automatically dirty-checked (simlar to read())
    fetchSize - number of rows fetched by the underlying JDBC driver per round trip
    flushMode - Hibernate FlushMode override, defaults to FlushMode.AUTO
    timeout - query timeout in seconds

In [1]:
from omapy.api import oma
import pandas as pd

# API endpoint
url = "http://localhost:8080/"
# Login with username, password and flag that indicates if certificates are validated or not. False: useful for non-production
login = oma.login(url, "oma", "=PSe?sZ-ymp6mE>2", False)
# response code 200
print(login)

<Response [200]>

In [2]:
# list composers
params = {"sort": "name"}
composers = oma.composer_list(params)
df_composers = pd.DataFrame(data=composers)

df_composers.head()

      compositions     id                  name  tenantId
0   [{'id': 5144}]   5143        Anton Bruckner         3
1  [{'id': 52791}]  52790          Anton Webern         3
2  [{'id': 29330}]  29329  Ludwig van Beethoven         3
3      [{'id': 6}]      5       Richard Strauss         3

In [3]:
# filter data frame locally
bruckner = df_composers[df_composers.name.eq("Anton Bruckner")]
print(bruckner)

     compositions    id            name  tenantId
0  [{'id': 5144}]  5143  Anton Bruckner         3

In [4]:
# list compositions
params = {}
compositions = oma.composition_list(params)
df_compositions = pd.DataFrame(data=compositions)
df_compositions.head()

        composer     id  tenantId             title
0      {'id': 5}      6         3   Don Juan Op. 20
1   {'id': 5143}   5144         3   Symphonie No. 9
2  {'id': 29329}  29330         3   Symphonie No. 9
3  {'id': 52790}  52791         3  Symphonie Op. 21